body {
  background-color:#0f172a;
  font-family:'Times New Roman';
  color: white;

   display: flex;
   flex-direction: column; 
  min-height: 100vh;
}
.navbar {
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
 background:#1e293b;
 position: fixed;

}
.logo {
 font-size: 20px;
 font-weight: bold;
}
.nav-links {
  display: flex;
  gap: 20px;
}
 .nav-links a{
  text-decoration: none;
  color: white;

 }
 .nav-links a:hover {
  color:#38bdf8;
  transform: scale(1.01);

 }
 .heading {
  margin: 100px 0px 40px;
  background: linear-gradient(to right, #1e3a8a,black,#06b6d4);
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 180px;
  display: flex;
 }
 .heading:hover {
  background: linear-gradient(to right, #274492,rgb(23, 22, 22),#1fc7e5);
 }
 .main {
  display: flex;
  gap:20px;
  padding: 50px;
  margin-bottom: 50px;

 flex: 1;
 }
 .content {
  flex:1;
  background: #3d3d5f;
  padding: 20px;
  margin-right: 5px;
  }

 .sidebar {
  display: flex;
  flex-direction: column;
  gap:15px;
 }
 .sidebar div{
  flex: 1;
  background:#334155;
  padding:15px;
  text-align: center;
 }
 .sidebar div:hover {
  background: #345480;
  transform: scale(1.03);
  border: 1px solid white;
 }

 .cards{
  display:flex;
  gap:15px;
  margin-top:20px;
}

.card{
  flex:1;
  background:#475569;
  padding:15px;
  border-radius: 10px;
  border: 4px;
}
.card:hover{
  background: #345480;
  transform: scale(1.03);
  border: 1px solid white;

}

 .footer{
   margin-top: 20px;
   padding: 5px 5px;
   display: flex;
   justify-content: center;
  
 }
 .btn{
border: 1px solid white;
padding: 5px;
border-radius: 4px;
 }